body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

html,
body {
  background-color: #e7e7e7;
}
nav {
  background-color: black;
  display: flex;
  gap: 2.5rem;
  text-align: center;
  font-size: 25px;
  color: #fff;
  padding: 20px;
  font-weight: bold;
}
.logo span {
  color: orangered;
  margin-right: 55px;
}
nav a {
  margin-right: 55px;
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
}
.container {
  max-width: 1000px;
  height: auto;
  margin: 30px auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
i{
  cursor: pointer;
}